<div class="header header-custom flex">
    <div class="flex">
        <button pButton pRipple (click)="onMenuToggle()" type="button" icon="pi pi-bars" class="p-button-text p-button-plain"></button>
        <img src="assets/imgs/angular-logo.png">
        <span class="title-text">PrimeNG Simple Admin</span>
    </div>    

    <div class="flex-grow-1"></div>

    <div class="flex">
        <span class="user">{{user}}</span>
        <button pButton pRipple (click)="headermenu.toggle($event)" type="button" icon="pi pi-user" class="p-button-rounded p-button-text p-button-plain"></button>
        <p-menu #headermenu [popup]="true" [model]="headerMenuItem"></p-menu>
    </div>
</div>

<div class="sidemenu" [ngClass]="classSidemenu">
    <app-sidemenu></app-sidemenu>
</div>

<div class="content" [ngClass]="classContent">
        <router-outlet></router-outlet>    
</div>
