//Setting
$sidemenu-width-open : 240px;
$sidemenu-font : 14px;
$sidemenu-font-sub : 12px;
$font : Arial;

// Color Combination

// Theme : Clean
$header-background: #FFFFFF;
$header-color : #666666;
$header-hover-background : #EEEEEE;
$header-hover-color : #666666;
$sidemenu-background : #FFFFFF;
$sidemenu-color : #666666;
$sidemenu-hover-background : #EEEEEE;
$sidemenu-hover-color : #666666;
$sidemenu-active-background : #DDDDDD;
$sidemenu-active-color : #666666;
$content-background : #EEEEEE;

// Theme : Red Angular
// $header-background: #c3002f;
// $header-color : #FFFFFF;
// $header-hover-background : #FFFFFF;
// $header-hover-color : #c3002f;
// $sidemenu-background : #FFFFFF;
// $sidemenu-color : #c3002f;
// $sidemenu-hover-background : #f5c8d2;
// $sidemenu-hover-color : #222222;
// $sidemenu-active-background : #c3002f;
// $sidemenu-active-color : #FFFFFF;
// $content-background : #EEEEEE;

// Theme : Admin LTE
// $header-background: #2596be;
// $header-color : #FFFFFF;
// $header-hover-background : #e7eaee;
// $header-hover-color : #2596be;
// $sidemenu-background : #1a2126;
// $sidemenu-color : #FFFFFF;
// $sidemenu-hover-background : #2c3b40;
// $sidemenu-hover-color : #FFFFFF;
// $sidemenu-active-background : #2c3b40;
// $sidemenu-active-color : #FFFFFF;
// $content-background : #EEEEEE;