.card-dashboard-std {
    min-width: 200px!important;
    margin: 10px 0px;

    .p-card {
        border-radius: 15px;
    }

    .p-card-body {
        padding: 0px!important;        

        .p-card-content {
            padding: 20px 0px!important;

            i {
                font-size: 200%;
                margin: 0px 20px;
            }

            .info {
                font-size: 150%;
                margin-top: -10px;
                padding: 0px 20px 3px 0px;
                text-align: right;
            }

            .title {
                font-size: 80%;
                text-align: right;
                padding: 3px 20px;
            }
        }
    }
}

.pi-card {
    .p-component {
        width: 100%!important;
    }
    
    .p-card-body {
        width: 100%!important;
    }
}
