<div class="login">
    <img src="assets/imgs/angular-logo.png">
    <h2>LOGIN</h2>
    
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Username">         
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input type="password" pInputText placeholder="Password">         
    </div>

    <button type="button" (click)="onLogin()">Login</button>

    <!-- <button pButton pRipple type="button" label="Login" class="p-button-rounded" (click)="onLogin()"></button> -->

    <p><a routerLink="/">Registration</a></p>
</div>

<!-- Remove On Production-->
<div class="foot">
<a routerLink="/login">Login</a> | <a routerLink="/login2">Login 2</a>
</div>