@import "src/assets/style/_variables.scss";

.login {
    max-width: 400px;
    min-width: 250px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #EEEEEE;
    font-family: $font;
    background-color: $header-background;

    h1 {
        text-align: center;
        color: #666666;        
    }

    .p-inputgroup {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    p {
        text-align: center;

        a {
            text-decoration: none;
            color: #666666;
        }

        a:hover{
            color: var(--red-500);
        }
    }
}

// Remove On Production
.foot {
    position: absolute;
    bottom: 20px;
    left: 20px;
}