@import "src/assets/style/_variables.scss";

.container {
    height : 100vh;
    background-image: url("/assets/imgs/login2.jpeg");

    .login {
        height : 100vh;
        max-width: 400px;
        min-width: 250px;
        margin-left: auto;
        margin-right: 0px;
        background-color: #FFFFFF;
        padding: 40px;
        opacity: 90%;
        font-family: $font;

        .p-inputgroup {
            margin-bottom: 20px;
        }

        button {
            width: 100%;
        }
    
        p {
            text-align: center;
            margin-top: 20px;
    
            a {
                text-decoration: none;
                color: #666666;
            }
    
            a:hover{
                color: var(--red-500);
            }
        }
    }
}

// Remove On Production
.foot {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
    }
    
}