<div class="container">
    <div class="login">
        <img src="assets/imgs/angular-logo.png">
        <h2>LOGIN</h2>
        
        <p-inputgroup class="p-inputgroup">
            <p-inputgroup-addon><i class="pi pi-user"></i></p-inputgroup-addon>
            <input type="text" pInputText placeholder="Username">
        </p-inputgroup>
    
        <p-inputgroup class="p-inputgroup">
            <p-inputgroup-addon><i class="pi pi-lock"></i></p-inputgroup-addon>
            <input type="password" pInputText placeholder="Password">
        </p-inputgroup>

        <button type="button" (click)="onLogin()">Login</button>
        <!-- <button pButton pRipple type="button" label="Login" class="p-button-rounded p-button-secondary" (click)="onLogin()"></button> -->

        <p><a routerLink="/">Registration</a></p>
    </div>
</div>

<!-- Remove On Production-->
<div class="foot">
    <a routerLink="/login">Login</a> | <a routerLink="/login2">Login 2</a>
</div>