<div class="container">
    <div class="login">
        <h1>LOGIN</h1>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Username">         
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input type="password" pInputText placeholder="Password">         
    </div>

    <button pButton pRipple type="button" label="Login" class="p-button-rounded p-button-secondary" (click)="onLogin()"></button>

    <p><a routerLink="/">Registration</a></p>
    </div>
</div>

<!-- Remove On Production-->
<div class="foot">
    <a routerLink="/login">Login</a> | <a routerLink="/login2">Login 2</a>
</div>